__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.mypy_cache/
profile_default/
ipython_config.py
htmlcov/
.ropeproject
.idea/
.vscode/
.DS_Store
.env
data/uploads/
data/processed/
__pydantic_core_cache__/
